* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}
h1,
h3 {
  font-weight: normal;
}
.title {
  font-size: 38px;
  margin-left: 20px;
}
.samll {
  margin-left: 30px;
}
header {
  background-color: #c4c4c4;
  width: 100%;
  adding: 1rem;
}
nav {
  background-color: #281d12;
}
ul {
  display: flex; /*變橫的*/
  padding-left: 1rem; /*讓首頁旁邊寬度增加*/
  list-style-type: none; /*讓前面原點消失*/
}
li {
  display: flex; /*讓a可以設定長寬高*/
  font-size: 20px;
}
a {
  padding: 15px;
  color: rgb(128, 122, 122);
  text-decoration: none; /*讓超連結底線消失*/
  transition: all 1s; /*漸層效果*/
}
a:hover {
  background-color: darkorange;
  color: rgb(248, 244, 244);
}

main {
  width: 100%;
  display: flex;
}

section.left,
section.right {
  padding: 50px;
}
iframe {
  border-radius: 50px;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
